.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar__lista{
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 0;
    justify-content: center;
}
